@import "../scss/Piano-variables";

.Octave {
  padding-bottom: 1em;
  position: relative;

  &__displayNum {
    position: absolute;
    color: $colour-piano-octave;
    left: 0.4em;
    text-align: center;
    border: dashed 0.1em $colour-piano-octave;
    border-radius: 0 0 0.7em 0.7em;
    border-top: none;
    width: 98%;

    .hideOctave & {
      display: none;
    }
  }

  &:last-child li:last-of-type {
    border-width: 0.3em 0.2em 0.4em 0.2em;
  }
}
