@import "../../scss/Piano-variables";

li.Keynote {
  position: relative;
  display: inline-block;
  height: 180px;
  width: 40px;
  z-index: 1;
  border: solid 2px rgb(53, 52, 52);
  border-width: 3px 0px 4px 2px;
  border-radius: 0 0 7px 7px;
  float: left;
  background-color: ivory;

  &.black {
    background-color: rgb(61, 65, 66);
    color: ivory;
    border-color: rgb(37, 35, 35);
    height: 95px;
    width: 31px;
    position: absolute;
    margin-left: -15px;
    z-index: 2;

    .Keynote-label {
      font-size: 1rem;
    }
  }

  &:hover {
    background-color: $colour-piano-white-over;
    cursor: pointer;
  }

  &.black:hover {
    background-color: $colour-piano-black-over;
  }

  .Keynote-label {
    text-align: center;
    z-index: 3;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    font-size: 1.1rem;

    .hideNote & {
      display: none;
    }
  }
  // .piano li[class$="-f"] .label {
  //   font-size: 11px;
  //   bottom: 20px;
  // }

  &.finger::after {
    content: "";
    text-align: center;
    position: absolute;
    display: inline-block;
    z-index: 3;
    bottom: 2.2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $colour-piano-leftHand;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    font-size: 1.3rem;
    line-height: 2.5rem;

    content: "";
  }

  &.lf1.finger::after {
    content: "1";
  }
  &.lf2.finger::after {
    content: "2";
  }
  &.lf3.finger::after {
    content: "3";
  }
  &.lf4.finger::after {
    content: "4";
  }
  &.lf5.finger::after {
    content: "5";
  }
  &.black.finger::after {
    bottom: 45px;
  }

  &.rf0.finger::after {
    content: "";
    background-color: $colour-piano-rightHand;
  }
  &.rf1.finger::after {
    content: "1";
    background-color: $colour-piano-rightHand;
  }
  &.rf2.finger::after {
    content: "2";
    background-color: $colour-piano-rightHand;
  }
  &.rf3.finger::after {
    content: "3";
    background-color: $colour-piano-rightHand;
  }
  &.rf4.finger::after {
    content: "4";
    background-color: $colour-piano-rightHand;
  }
  &.rf5.finger::after {
    content: "5";
    background-color: $colour-piano-rightHand;
  }
  &.black.finger::after {
    bottom: 45px;
  }
}
