//Piano component colours
$colour-piano-white: ivory;
$colour-piano-black: rgb(61, 65, 66);
$colour-piano-white-over: white;
$colour-piano-black-over: black;

$colour-piano-back: rgb(205, 54, 108);
$colour-piano-octave: skyblue;

$colour-piano-rightHand: rgb(54, 205, 172);
$colour-piano-leftHand: rgb(205, 54, 108);
