@import "Piano-variables";

.Piano {
  display: inline-flex;
  //   flex-wrap: nowrap;
  position: relative;
  //   border: solid 5px grey;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  list-style: none;
  background-color: $colour-piano-back;
}
