@import "../../../scss/main.scss";
@import "Piano-variables";

.Piano {
  display: inline-block;
  margin: 3em 0 4em 0;
  min-width: 64em;
  // border: dashed 2px gainsboro;

  &__title {
    font-size: 3.4em;
    margin-bottom: 0.2em;
    color: $colour-piano-rightHand;
    break-after: avoid-page;
    page-break-after: avoid;
  }

  &__keys {
    display: inline-flex;
    //   flex-wrap: nowrap;
    position: relative;
    // border: solid .5em purple;
    border-radius: 2.5em;
    padding: 1.5em;
    // margin: 20px;
    list-style: none;
    background-color: rgba(117, 0, 128, 0.653);

    @media print {
      border: solid 2px rgba(117, 0, 128, 0.653);
      padding: 15px;
      color: black;
      background-color: transparent;
    }
  }

  @media print {
    break-inside: avoid;
    page-break-inside: avoid;
    margin-right: 20px;
  }
}
