@import "../../scss/main";

.Button {
  padding: 0.6em;
  background-color: #ffa500;
  outline: none;
  border: none;
  border-radius: 0.5em;
  color: white;
  z-index: 6;
  min-width: 10em;
  margin: 0 1em 0 1em;

  // float: right;
  margin: 0.4%;

  &:hover {
    background-color: #ff8400;
    cursor: pointer;
  }

  @include respond(phone-port) {
    margin: 0 2em 0 2em;
    // padding: 0.6em;
  }

  @include respond(phone-sml) {
    margin: 1em 1em 0 0;
    // padding: 0.6em;
  }

  @media print {
    display: none;
  }
}
