@import "./scss/main";

.DisplaySpChords {
  // font-size will resize all elements in piano as uses em
  // use for responsive easy resize all
  //   font-size: 70%;
  padding: 3em;
  //   border: solid 4px orange;

  &__section {
    border-bottom: solid 1rem grey;
    margin-bottom: 5em;
    padding-bottom: 3em;

    &__title {
      font-size: 3em;
      margin-bottom: 2em;
      color: purple;
    }
  }
}
