@import "./scss/main";

.DisplaySpChords {
  // font-size will resize all elements in piano as uses em
  // use for responsive easy resize all
  font-size: 120%;
  padding: 3em;

  @include respond(tab-port) {
    font-size: 95%;
    // padding: 3em;
  }

  @include respond(phone) {
    font-size: 0.5em;
    padding: 0.6em;
  }
  @include respond(phone-old) {
    font-size: 5px;
    padding: 0.5em;
  }

  //   border: solid 4px orange;

  &__section {
    border-bottom: solid 0.8em rgba(165, 182, 101, 0.194);
    margin-bottom: 5em;
    padding-bottom: 3em;

    break-inside: avoid;
    page-break-inside: avoid;

    &__title {
      font-size: 3em;
      color: purple;
      break-after: avoid-page;
      page-break-after: avoid;
    }
  }

  @media print {
    font-size: 54%;
    padding: 0;
  }
}

@page {
  margin: 30px 10px 30px 10px;
}
