// MEDIA QUERY MANAGER
/*
0 - 410px:      old phone
410px - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint  choices:
- phone-old
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone-sml {
    @media only screen and (max-width: 29em) {
      @content;
    } //344px
  }
  @if $breakpoint == phone-port {
    @media only screen and (max-width: 36em) {
      @content;
    } //344px
  }
  @if $breakpoint == phone-land {
    @media only screen and (max-width: 43em) {
      @content;
    } //608px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 80em) {
      @content;
    } //1360px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 85em) {
      @content;
    } //1360px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 110em) {
      @content;
    } //1760
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: purple;
  @media print {
    background-color: white;
  }
}

body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 20px;
  background: white;
  border-radius: 40px;
  // border: solid 2px yellow;

  @include respond(tab-land) {
    border-radius: 20px;
    margin: 10px 20px;
    // border: solid 2px red;
  }

  // @include respond(tab-port) {
  //   // border: solid 2px lawngreen;

  // }

  @include respond(phone-land) {
    border-radius: 10px;
    margin: 5px 5px;
    // border: solid 2px black;
  }
  @include respond(phone-port) {
    border-radius: 0;
    margin: 0;
    // border: solid 2px blue;
  }

  @include respond(phone-sml) {
    border-radius: 0;
    padding-left: 2px;
    // border: solid 2px hotpink;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
