.Piano {
  display: inline-flex;
  //   flex-wrap: nowrap;
  position: relative;
  //   border: solid 5px grey;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  list-style: none;
  background-color: rgb(205, 54, 108);
}
